@model IEnumerable<EASHLWebApp.Models.Player>

@{
    ViewBag.Title = "Index";
}
<div class="content">
    <p>
        <img src="/assets/blank.jpg" width="100%" />
        <p2>LINEUP</p2>
    </p>
</div>
<div class="centering">
    <div class="titlecard">Forwards</div>
    <div class="card-container">
        @foreach (var player in Model.Where(n => n.Position != "Defense" && n.Position != "Goaltender"))
        {
            <div class="flip-container" ontouchstart="this.classlist.toggle('hover')">
                <a href="players/@player.PlayerID">
                    <div class="flipper">
                        <div class="front"><img src="~/assets/players/@player.Gamertag-s-front.png" alt="Alternate Text" /></div>
                        <div class="back"><img src="~/assets/players/@player.Gamertag-s-back.png" alt="Alternate Text" /></div>
                    </div>
                </a>
            </div>
        }
    </div>
    <div class="titlecard">Defenders</div>
    <div class="card-container">
        @foreach (var player in Model.Where(n => n.Position == "Defense"))
        {
            <div class="flip-container" ontouchstart="this.classlist.toggle('hover')">
                <a href="players/@player.PlayerID">
                    <div class="flipper">
                        <div class="front"><img src="~/assets/players/@player.Gamertag-s-front.png" alt="Alternate Text" /></div>
                        <div class="back"><img src="~/assets/players/@player.Gamertag-s-back.png" alt="Alternate Text" /></div>
                    </div>
                </a>
            </div>
        }
    </div>
    <div class="titlecard">Goalies</div>
    <div class="card-container">
        @foreach (var player in Model.Where(n => n.Position == "Goaltender"))
        {
            <div class="flip-container" ontouchstart="this.classlist.toggle('hover')">
                <a href="players/@player.PlayerID">
                    <div class="flipper">
                        <div class="front"><img src="~/assets/players/@player.Gamertag-s-front.png" alt="Alternate Text" /></div>
                        <div class="back"><img src="~/assets/players/@player.Gamertag-s-back.png" alt="Alternate Text" /></div>
                    </div>
                </a>
            </div>
        }
    </div>
</div>

