<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://bombers.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>bombers.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>bombers</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$bombers</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:ex60eol0cm.database.windows.net,1433;Initial Catalog=bombersABfQA9uJk;User ID=bombers@ex60eol0cm;Password=sOnd49men" Name="Data Source=tcp:ex60eol0cm.database.windows.net,1433;Initial Catalog=bombersABfQA9uJk;User Id=bombers@ex60eol0cm;Password=sOnd49men" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="EASHLWebApp.Models.ApplicationDbContext, EASHLWebApp" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="EASHLWebAppContext" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:ex60eol0cm.database.windows.net,1433;Initial Catalog=bombersABfQA9uJk;User ID=bombers@ex60eol0cm;Password=sOnd49men" Name="Data Source=tcp:ex60eol0cm.database.windows.net,1433;Initial Catalog=bombersABfQA9uJk;User Id=bombers@ex60eol0cm;Password=sOnd49men" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="EASHLWebApp.Models.EASHLWebAppContext, EASHLWebApp" MigrationConfiguration="EASHLWebApp.Migrations.Configuration, EASHLWebApp" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:ex60eol0cm.database.windows.net,1433;Initial Catalog=bombersABfQA9uJk;User Id=bombers@ex60eol0cm;Password=sOnd49men</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)EASHLWebAppContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:ex60eol0cm.database.windows.net,1433;Initial Catalog=bombersABfQA9uJk;User Id=bombers@ex60eol0cm;Password=sOnd49men</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>